.board {
  display: grid;
  width: 66vw;
  height: 66vw;
  min-width: 500px;
  min-height: 500px;
  max-width: 900px;
  max-height: 900px;
  gap: 0;
  justify-content: start;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 1px solid red;
}

.cell {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  width: 90%;
  height: 90%;
  border: 1px solid blue;
}
